.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:1633px) {
  

  
  .hideOnMobile{
    display: none;
  }

  .menu-button{
    display: block;
  }

  .topBar{
    width: 100%; 

  }

  .navbar-search {
    display: block;
    width: 50%;
   

  }

  .body {
    width: 100%;
  }
  
  .navbar-search-div {
    width: 10%;
  }
  
  .search-input {
    width: 50%;
  }
  
  .featuresBox2{
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0.2rem;
    border-color: white;
    border-radius: 2px;
  }
  
  .featuresBox1 {
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0.2rem;
    border-color: white;
    border-radius: 2px;
  }

  .featuresBox3 {
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0.2rem;
    border-color: white;
    border-radius: 2px;
  }

  .BorderImage1 {
    display: block;
    height: 2%;
  }

  .BodyTopText {
    margin-top: 30%;
    font-size: 500%;
  }


  .LeftBigBox2 {
     margin-left: 10%;
     display: block;
  }

  .BodyTop {
    
    height: 10%;
  
  }

  .rightBigBox1 {
    display: block;
    
  }

  .BorderImage2 {
    margin-right:80% ;
  }
  
  .profilePicture {
    margin-left:80%;
  }

  .profilePictureSeller{
    display: block;
  }

  .sellerPhotoHolder {
    display: block;
  }

  .innerInputL {
    width: 100%;
  }

  .signButton {
    margin-top: 80%;
    height: 7%;
  }

  .signoutButton {

    margin-bottom: 100%;
  }

  .signinoutDiv {
    height: 160vw;
  }

  .Product_Template {
    margin-bottom: 25%;
    margin-top: 25%;
    margin-left: 7%;
    width: 70%;
  }

  

  
  
}

@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
  
}